@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @if (Model.Success)
    {
        <p>Número de pessoas: @Model.PersonCount</p>
        <p>Número de países: @Model.CountryCount</p>
        <p>Número de estados: @Model.StateCount</p>
    }
    else
    {
        <p>Failed to load data</p>
    }
</div>
